<html lang="en">

<head>
    <title>Add Record</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <h2 class='text-center mt-5'>Sign Up</h2>
    <div class="container col-md-5 mt-5 border " style="background-color: #eee;">
        <form action="/signup" class="mt-3" method="POST">
            <div class="form-group">
                <label for="uname">Username</label>
                <input type="text" class="form-control" id="uname" placeholder="Enter Username" name="uname" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password"
                    required>
            </div>
            <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" name="cpassword"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <input type="button" class="btn-primary btn" onclick="location.href='/login';" value="Login">
        </form>
    </div>

</body>

</html>


